<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./src/styles/global.css">
    <title>Projet web</title>
</head>
<body id="root">

    <header>
        <h1>Nom de site</h1>
    </header>

    <main v-if="displayPages.appLaunching">
        <h2>Loading</h2>
    </main>

    <main v-if="displayPages.accueil">
        <h2>Acceuil</h2>
        <p>Ceci est l'accueil</p>
        <button  @click="displayArticleListPage">Voir la liste des articles</button>
    </main>

    <main v-if="displayPages.articleList">
        <button  @click="displayAccueil">Retour a l'accueil</button>

        <button  @click="toggleSearchDiv">Rechercher selon certains critaires</button>

        <div v-if="showSearchDiv" class="overlay">
            <div class="searchDiv">
                <h3>Module de recherche</h3>

                <label for="subcategory">Subcategory : </label>
                <select name="subcategory" id="subcategory" v-model="searchedSubcategoryID">
                    <option value=0>Voir tout</option>
                    <option v-for="subcat in subcategoryList" :value="subcat.id">{{subcat.name}}</option>
                </select>

            </div>
        </div>
        
        <div class="articleList">
            <div v-for="art in articleList">
                <div 
                    class="articleCard" 
                    v-if="searchedSubcategoryID == 0 || searchedSubcategoryID === art.id_subcategory" 
                    @click="displayArticlePage(art.id)" 
                >
                    <h2>{{art.name}}</h2>
                    <img :src="'./src/image/' + art.image + '.jpg'" :alt="art.name">
                    <p>{{art.price}}$</p>
                </div>
            </div>
        </div>
    </main>

    <main v-if="displayPages.article">
        <button  @click="displayArticleListPage">Voir tous les articles</button>
        <h2>{{currentArticle.name}}</h2>
        <p>{{currentCategory.name}} > {{currentSubcategory.name}}</p>
        <p>{{currentArticle.description}}</p>
        <p>{{currentBrand.name}}</p>
        <img :src="'./src/image/' + currentArticle.image + '.jpg'" :alt="currentArticle.name">
        <button  @click="addToCart(currentArticleID)">Ajouter au panier</button>
        <button  @click="deleteFromCart(currentArticleID)">Supprimer du panier</button>
    </main>
</body>
</html>

<script src="./src/js/vue.global.js" defer></script>
<script src="./src/js/main.js" defer></script>
