.article-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 40px auto;
    padding: 20px;
}

.article-container .main-container{
    display: flex;
    position: relative;
}

.article-container img{
    width: 50%;
    max-width: 300px;
}

.details-container{
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}