@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: black;
}

nav{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .links-container{
    display: flex;
    gap: 40px;
}
