.articles-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.filters-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
    gap: 20px;
}


.article-card{
    border: 1px solid black;
    padding: 20px;
}

.article-card .article-img{
    display: block;
    width: 200px;
    height: 200px;
}

.reset-filters{
    background-color: red;
    color: white;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}