body
{
	margin: 0;
}

.login-container
{

	top: 0;
	width: 100vw;
	height: 100vh;
}

.login-content
{
	width: 95%;
	max-width: 300px;
	max-height: 300px;
	padding: 30px;
	background-color: #eee;
    border-top: 6px solid black;
    border-bottom: 6px solid black;
	position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 0px 0px black;
}

.login-title
{
	margin-bottom: 30px;
	font-family: Montserrat, sans-serif;
	font-weight: 600;
}

.login
{
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 10px;
}

.input-login
{
	height: 30px;
    width: 300px;
	border: none;
	background-color:  #eee;
	border-bottom: 2px solid black;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
}

.button-login
{
	height: 50px;
    width: 300px;
	border: none;
	border-radius: 5px;
	background-color:  #5fc44d;
	margin-top: 10px;
	color: #fff;
	font-size: 20px;
	font-family: Montserrat, sans-serif;
	box-shadow: 0px 1px 3px black;
	cursor: pointer;
}

.login label
{
	font-family: Montserrat, sans-serif;
}